* {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
}


div {
    width: 120px;
    height: 120px;
    display: block;
}

.contenedor1{
    margin: 100px;
}

.caja1{
    background-color: red;
}

.caja2{
    background-color: green;
    position: absolute;
    top: 20px;
    left: 50px;
}

.caja3{
    background-color: blue;
}