* {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
}

div{
    width: 45%;
    display: inline-block;
    padding: 20px;
    background-color: #ddd;
}

.caja2{
    background-color: #bbb;
}

@media only screen and (max-width: 800px) {
    div {
        display: block;
        width: 100%;
    }
}
