* {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.caja1{
    width: 100px;
    height: 100px;
    background: red;
    margin: auto;
    outline: 10px solid blue;
    /* border: 10px solid blue; */
}

.caja2{
    width: 100px;
    height: 100px;
    background: yellow;
    margin: auto;
}
